@page "/"
<MudPaper Elevation="4" Class="py-8 px-10 pa-4 blue darken-1 shades-text text-white" Style="" >
    <MudText Typo="Typo.h3">Regionala Platser i Skåne</MudText>
</MudPaper>
<p>
    <MudPaper Class="pa-4 ml-8 mt-8">
        <MudText Typo="Typo.h4">
            Syftet med den här sidan är att tillhandahålla en lista på platser i Skåne som kan klassas som smultronställen.
        </MudText>
        <MudText Typo="Typo.h4">
            De bedriver sin verksamhet baserat på ekologiska råvaror och marknadsför det bästa som Skåne kan erbjuda från kött,
            grönsaker, frukt, mejeriprodukter till bröd.
        </MudText>
        <br />
        <MailForm />
    </MudPaper>
</p><br /><br /><br />
<p><LoginDisplay /></p>
